* {
    margin: 0px;
    padding: 0px;
}

body {
    max-width: 760px;
    min-width: 420px;
    margin: auto;
}

#app {
    height: 100vh;
    padding: 10px;
    border-left: black 2px solid;
    border-right: black 2px solid;
    box-sizing: border-box;
}
